# Stocks Price Prediction Models

In [39]:
import yfinance as yf
from datetime import datetime
import pandas as pd

In [29]:
end = datetime.now()
start = datetime(end.year - 20, end.month, end.day - 1)
print(start)

2005-09-07 00:00:00

In [30]:
# downloading the data
stock = "GOOG"
stock_data = yf.download(stock, start, end)

/tmp/ipykernel_13243/1755118645.py:3: FutureWarning: YF.download() has changed argument auto_adjust default to True
  stock_data = yf.download(stock, start, end)
[*********************100%***********************]  1 of 1 completed

In [31]:
stock_data.head()

Price          Close      High       Low      Open     Volume
Ticker          GOOG      GOOG      GOOG      GOOG       GOOG
Date
2005-09-07  7.300825  7.316423  7.063381  7.078484  301104399
2005-09-08  7.313700  7.410014  7.263438  7.299835  265523531
2005-09-09  7.405310  7.405558  7.342668  7.360495  176278267
2005-09-12  7.668998  7.710593  7.452600  7.471170  417017246
2005-09-13  7.717031  7.812354  7.580606  7.650676  413540262

In [32]:
stock_data.columns = stock_data.columns.get_level_values(0)
stock_data.head(10)

Price          Close      High       Low      Open     Volume
Date
2005-09-07  7.300825  7.316423  7.063381  7.078484  301104399
2005-09-08  7.313700  7.410014  7.263438  7.299835  265523531
2005-09-09  7.405310  7.405558  7.342668  7.360495  176278267
2005-09-12  7.668998  7.710593  7.452600  7.471170  417017246
2005-09-13  7.717031  7.812354  7.580606  7.650676  413540262
2005-09-14  7.502120  7.756647  7.435269  7.643991  452722579
2005-09-15  7.492712  7.594968  7.376094  7.415957  620966845
2005-09-16  7.432793  7.539259  7.424622  7.527374  304328438
2005-09-19  7.521679  7.576398  7.445421  7.452601  231339881
2005-09-20  7.623688  7.707622  7.557333  7.580111  375441994

In [33]:
print(data.columns)
print(data.columns.name)

Index(['Close', 'High', 'Low', 'Open', 'Volume'], dtype='object', name='Price')
Price

In [34]:
stock_data.columns.name = None
stock_data.head(10)

               Close      High       Low      Open     Volume
Date
2005-09-07  7.300825  7.316423  7.063381  7.078484  301104399
2005-09-08  7.313700  7.410014  7.263438  7.299835  265523531
2005-09-09  7.405310  7.405558  7.342668  7.360495  176278267
2005-09-12  7.668998  7.710593  7.452600  7.471170  417017246
2005-09-13  7.717031  7.812354  7.580606  7.650676  413540262
2005-09-14  7.502120  7.756647  7.435269  7.643991  452722579
2005-09-15  7.492712  7.594968  7.376094  7.415957  620966845
2005-09-16  7.432793  7.539259  7.424622  7.527374  304328438
2005-09-19  7.521679  7.576398  7.445421  7.452601  231339881
2005-09-20  7.623688  7.707622  7.557333  7.580111  375441994

In [37]:
# saving the data
stock_data.to_csv(f"../datasets/{stock}.csv")

In [40]:
data = pd.read_csv(f"../datasets/{stock}.csv")
data.head(10)

         Date     Close      High       Low      Open     Volume
0  2005-09-07  7.300825  7.316423  7.063381  7.078484  301104399
1  2005-09-08  7.313700  7.410014  7.263438  7.299835  265523531
2  2005-09-09  7.405310  7.405558  7.342668  7.360495  176278267
3  2005-09-12  7.668998  7.710593  7.452600  7.471170  417017246
4  2005-09-13  7.717031  7.812354  7.580606  7.650676  413540262
5  2005-09-14  7.502120  7.756647  7.435269  7.643991  452722579
6  2005-09-15  7.492712  7.594968  7.376094  7.415957  620966845
7  2005-09-16  7.432793  7.539259  7.424622  7.527374  304328438
8  2005-09-19  7.521679  7.576398  7.445421  7.452601  231339881
9  2005-09-20  7.623688  7.707622  7.557333  7.580111  375441994

In [41]:
data.shape

(5031, 6)